body::-webkit-scrollbar {
    display: none;
}

body{
    height: 100%;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    margin: 0;
}

.background{
    background-image: url(./images/background_event.jpg);
    /* Full height */
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro{
    font-family: Arial;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.search{
    font-family: Arial;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: large;
}

.search:active {
    background-color: rgba(0, 0, 0, 0.523);
    border-color: rgba(0, 0, 0, 0.523);
}

.back{
    /* display: flex; */
    text-align: center;
    background-color: white;
    background: rgba(255, 255, 255, .7);
    border-radius: 10%;
    padding: 30px; 
}

@font-face {
    font-family: BlackSansa;
    src: url("./fontstyle/BlackS/BlackSansaFree-Regular.otf") format("opentype");
}

h1{
    font-family: BlackSansa;
    font-size: 60px;
    
}

.space{
    content: "";
    margin: -2em;
    display: block;
    font-size: 24%;
  }

.name{
  font-size: 20px;
  margin-bottom: -10px;
}

.infoDiv{
    font-family: Arial;
    text-align: center;
}

.event-cover{
    height: 40%;
    object-fit: cover;
}

.city{
    margin-bottom: 15%;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
  
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
  width: 14em;
  min-height: 12em;
  max-height: 18em;
  border-radius: 10px;
  box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
  padding: 10px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.849);
}

.card-list {
    padding-top: 20px;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
    background-color: #242f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em;
    width: 100vw;
    height: 100%;
}

main h1 {
    margin: 0;
    color: white;
}