<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Events near you</title>
    <!-- <script src="jquery-2.1.4.js"></script> -->
</head>
<body>
    <main class="mainEventData">
        <div id="title" style="text-align: center;">
            <!-- <h1>Events near you</h1> -->
        </div>

        <div class="eventInfo">
            <div id='infoDiv'></div>
            <!-- <div id="eventCoverDiv"></div> -->
        </div>
    </main>
    <div class="loader-wrapper" id="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    
    <!-- <script async src="https://get.geojs.io/v1/ip/geo.js"></script> -->
    <script>
        teste();
        function addLoading() {
            let wrapper = document.getElementById('loader-wrapper')
            wrapper.removeAtrribute('style');
            wrapper.classList.add('loader-wrapper')
        }

        function removeLoading() {
            let wrapper = document.getElementById('loader-wrapper')
            wrapper.setAttribute("style", "display: none;");
            wrapper.classList.remove('loader-wrapper')
        }

        function getMonthName(monthNumber) {
            const date = new Date();
            date.setMonth(monthNumber - 1);
            return date.toLocaleString('en-US', { month: 'long' });
        }

        function createCard(info) {
            let title = document.createElement('h1');
            title.classList.add("eventTitle")
            let divTitle = document.getElementById('title');
            title.innerText = info['name'];
            divTitle.appendChild(title);

            let card = document.createElement('div');
            card.classList.add('eventDates');   
            
            let classification = document.createElement('p');
            classification.innerText = info['class'].toUpperCase();
            classification.classList.add('eventClass');

            
            let infoDiv = document.getElementById('infoDiv');
            let city = document.createElement('p');
            let distance = document.createElement('p');
            city.classList.add('eventCity');
            city.innerText = 'City: ' + info['city'];
            distance.classList.add('eventDist');
            distance.innerText = 'Distance: ' + info['distance'] + ' Km';
            infoDiv.appendChild(city);
            infoDiv.appendChild(distance);
            infoDiv.classList.add('eventInfoDiv');
            infoDiv.appendChild(classification);
            card.appendChild(infoDiv);
            
            let infoDate = document.createElement('div');
            infoDate.classList.add('scroll');
            
            // let header = document.createElement('tr');
            // let col1 = document.createElement('th');
            // let col2 = document.createElement('th');
            // col1.innerText = 'Hour';
            // col2.innerText = 'Date';
            // header.appendChild(col2);
            // header.appendChild(col1);
            // infoDate.appendChild(header);
            
            for(let date_i of Object.entries(info['dates'])){
                let line = document.createElement("div");
                line.classList.add("line");
                
                let day = document.createElement("div");
                day.classList.add("day");
                
                // console.log(date_i);
                let hour_string;
                if(date_i[1]['hour'].toString() == "0"){
                    hour_string = "All day";
                }else{
                    hour_string = date_i[1]['hour'].split(":");
                    hour_string = hour_string[0] + "h" + hour_string[1];
                }
                let date_string = date_i[1]['date'].split("-");
                day.innerText = date_string[2];
                
                let month = document.createElement("div");
                month.classList.add("month");
                let month_name = getMonthName(date_string[1]) + "\n" + date_string[0];
                month.innerText = month_name;
                
                let hour = document.createElement("div");
                hour.innerText = hour_string;
                hour.classList.add("hour");

                line.appendChild(day);
                line.appendChild(month);
                line.appendChild(hour);

                // let line = document.createElement('tr');  
                // let hour = document.createElement('td');
                // let date = document.createElement('td');

                // line.appendChild(date);
                // date.classList.add("date");
                // line.appendChild(hour);
                // hour.classList.add("hour");
                infoDate.appendChild(line);
            }
            card.appendChild(infoDate);


            let card_img = document.createElement('div');
            card_img.classList.add('eventCoverDiv');   

            let image = document.createElement('img');
            image.classList.add('eventCover');
            image.src=info['image'];
            card_img.appendChild(image);

            let cards = [];
            cards.push(card);
            cards.push(card_img);
            return cards;  
        }

        function teste(){
            let cardList = document.getElementsByClassName('eventInfo')[0]

            const pathName = window.location.pathname;
            const idCard = pathName.split('/')[2];
           
            var retrievedObject = JSON.parse(localStorage.getItem('events'));
            var dates = []
            
            let card = createCard(retrievedObject[idCard]);
            cardList.appendChild(card[0]);
            cardList.appendChild(card[1]);
            
            Promise.all(Array.from(retrievedObject)).then(() => {
                removeLoading();
            });
        }

    </script>
</body>
</html>