<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Events near you</title>
    <!-- <script src="jquery-2.1.4.js"></script> -->
</head>
<body>
    <main class="mainEventData">
        <div id="title" style="text-align: center;">
            <!-- <h1>Events near you</h1> -->
        </div>

        <div class="eventInfo">
            <div id="eventCoverDiv"></div>
            <div id="infoDiv"></div>
        </div>
    </main>
    <div class="loader-wrapper" id="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    
    <!-- <script async src="https://get.geojs.io/v1/ip/geo.js"></script> -->
    <script>
        teste();
        function addLoading() {
            let wrapper = document.getElementById('loader-wrapper')
            wrapper.removeAtrribute('style');
            wrapper.classList.add('loader-wrapper')
        }

        function removeLoading() {
            let wrapper = document.getElementById('loader-wrapper')
            wrapper.setAttribute("style", "display: none;");
            wrapper.classList.remove('loader-wrapper')
        }

        function createCard(info) {
            let title = document.createElement('h1');
            let divTitle = document.getElementById('title');
            title.innerText = info['name'];
            divTitle.appendChild(title);

            let card = document.createElement('div');
            card.classList.add('eventDates');
            
            let image = document.createElement('img');
            image.classList.add('eventCover');
            image.src=info['image'];
            let coverImg = document.getElementById('eventCoverDiv');
            coverImg.appendChild(image);
            
            let infoDiv = document.getElementById('infoDiv');
            let city = document.createElement('p');
            let distance = document.createElement('p');
            city.classList.add('eventCity');
            city.innerText = info['city'];
            distance.classList.add('eventDist');
            distance.innerText = info['distance'] + ' Km';
            infoDiv.appendChild(city);
            infoDiv.appendChild(distance);
            infoDiv.classList.add('eventInfoDiv');
            card.appendChild(infoDiv);
            
            let infoDate = document.createElement('table');
            infoDate.classList.add('eventHourDate');

            let header = document.createElement('tr');
            let col1 = document.createElement('th');
            let col2 = document.createElement('th');
            col1.innerText = 'Hour';
            col2.innerText = 'Date';
            header.appendChild(col2);
            header.appendChild(col1);
            infoDate.appendChild(header);

            for(let date_i of Object.entries(info['dates'])){
                let line = document.createElement('tr');  
                let hour = document.createElement('td');
                let date = document.createElement('td');
                hour.setAttribute("align","center");
                date.setAttribute("align","center");
                hour.innerText = date_i[1]['hour'];
                date.innerText = date_i[1]['date'];
                line.appendChild(date);
                line.appendChild(hour);
                infoDate.appendChild(line);
            }
            card.appendChild(infoDate);
            
            return card;
        }

        function teste(){
            let cardList = document.getElementsByClassName('eventInfo')[0]


            const pathName = window.location.pathname;
            const idCard = pathName[pathName.length - 1];

            var retrievedObject = JSON.parse(localStorage.getItem('events'));
            var dates = []
            
            let card = createCard(retrievedObject[idCard]);
            cardList.appendChild(card);
            
            Promise.all(Array.from(retrievedObject)).then(() => {
                removeLoading();
            });
        }

    </script>
</body>
</html>