<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Events near you</title>
    <!-- <script src="jquery-2.1.4.js"></script> -->
</head>
<body>
    <main>
        <h1>Events near you</h1>
        <div class="card-list">
        </div>
    </main>
    <div class="loader-wrapper" id="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    
    <script async src="https://get.geojs.io/v1/ip/geo.js"></script>
    <script>
        function addLoading() {
            let wrapper = document.getElementById('loader-wrapper')
            wrapper.removeAtrribute('style');
            wrapper.classList.add('loader-wrapper')
        }

        function removeLoading() {
            let wrapper = document.getElementById('loader-wrapper')
            wrapper.setAttribute("style", "display: none;");
            wrapper.classList.remove('loader-wrapper')
        }

        function createCard(info, i) {
            let card = document.createElement('div')
            card.classList.add('card')
            let image = document.createElement('img')
            image.src=info['image']
            image.classList.add('event-cover')
            card.appendChild(image)
            let infoDiv = document.createElement('div')
            let name = document.createElement('a')
            name.classList.add('name')
            name.innerText = info['name']
            let city = document.createElement('p')
            city.classList.add('city')
            city.innerText = info['city']
            let distance = document.createElement('p')
            distance.classList.add('dist')
            distance.innerText = info['distance'] + ' Km'
            infoDiv.appendChild(name)
            infoDiv.appendChild(city)
            infoDiv.appendChild(distance)
            infoDiv.classList.add('infoDiv')
            card.appendChild(infoDiv)
            card.classList.add('event_'+i)
            return card
        }

        function geoip(json){
            let latitude = json.latitude;
            let longitude = json.longitude;
            
            console.log(json.latitude + " " + json.longitude)
            let events = fetch('/event', {
                method: "POST",
                body: JSON.stringify({
                    latitude: latitude,
                    longitude: longitude
                }),
    
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            }).then(response => {
                // console.log(response.json())
                return response.json()
            }).then(json => {
                let cardList = document.getElementsByClassName('card-list')[0]
                for (let event of Object.values(json)) {
                    let card = createCard(event);
                    cardList.appendChild(card);
                }
                for (let event of document.getElementsByClassName('infoDiv')){
                    let a_name = event.childNodes[0];
                    a_name.setAttribute('href', 'eventData');
                    a_name.setAttribute("style", "text-decoration: none;");
                    // console.log(event.childNodes[0].setAttribute('href', a_name));
                }
                Promise.all(Array.from(document.images).filter(img => !img.complete).map(img => new Promise(resolve => { img.onload = img.onerror = resolve; }))).then(() => {
                    removeLoading();
                });
            })
        }

    </script>
</body>
</html>