<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Event Searcher</title>
</head>
<body>
    <div class="background">
        <div class="back">
            <h1>Event<br class="space">Searcher</h1>
            <div class="intro">
                <p>Know current events close to you</p>
                <button class="search">Search</button>
                
            </div>
        </div>
    </div>
    <script>
        let button = document.getElementsByClassName('search')[0]
        button.addEventListener('click', () => {
            window.location.href = "/events";
        })
    </script>
</body>
</html>